/venv/
/1_new_feautures/
/1_data_analisys/
/1_create_media_plans/
/config.json
/errors.csv
/googleapi.json
/testing.py
/subscribers.csv
/view.csv
/analytics_results.csv
/my_accoun.session
/my_account.session
/output.mp3
/speech.mp3
/episode_creation_log.xlsx
/combined_speech.mp3
/podcast_release_long.py
